.container-notifications{
  width: 25%;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.container-view-pass-check{

  margin: auto;
  width: 3vw;
  height: 3vh;
  display: flex;
}

@keyframes toggleShadow {

  0% {
    box-shadow: 0px 4px 25px rgba(2, 249, 253, 0.615);
  }
  25% {
    box-shadow: 0px 4px 50px rgba(200, 155, 200, 0.5);
  }
  50%{
    box-shadow: 0px 4px 100px rgba(2, 249, 253, 0.615);

  }
  100% {
    box-shadow: 0px 4px 125px rgba(200, 155, 200, 0.5);
  }
}

.shadows-on{
  animation: toggleShadow 50s ease-in-out alternate-reverse infinite;
}
