
.tasks-container{
  margin-top:10%;
  height:50vh;
  display: flex;
  justify-content: center;

}


.table-container{
  width: 60%;
  margin: 10px;

}

.shadow-green{
  box-shadow: 0px 4px 50px rgba(120, 205, 133, 0.5);

}
.shadow-orange{
  box-shadow: 0px 4px 50px rgba(205, 191, 120, 0.5);

}
.shadow-red{
  box-shadow: 0px 4px 50px rgba(194, 20, 20, 0.5);
}

.controllers-containers{
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 10px;
}

.duration{
  color: white;
  width: 100%;
  padding: 3.5%;
  border-radius: 10px;
  border: none;
  @apply bg-gray-600
}

.controllers-containers button{
  margin-left:10%;
}
