
.tasks-container{
  margin-top:10%;
  height:50vh;
  display: flex;
  justify-content: center;

}


.table-container{
  width: 60%;
  margin: 10px;

}

.controllers-containers{
  display: block;
  box-shadow: 0px 4px 50px rgba(120, 205, 133, 0.5);
  padding-right: 10px;
  padding-left: 10px;

}

.duration{
  color: white;
  width: 100%;
  padding: 3.5%;
  border-radius: 10px;
  border: none;
  @apply bg-gray-900
}
